@font-face {
    font-family: montserrat;
    src: url(./Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserratThin;
    src: url(./Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#mainColor {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#secondColor {
    height: 580px;
    width: 800px;
    background-color: #F9CC02;
    border-radius: 20px 0 0 20px;
}

#thirdColor {
    height: 580px;
    width: 530px;
    background-color: #FAE7B4;
    border-radius: 0 20px 20px 0;
}

#secondColor img {
    height: 100px;
    width: 200px;
    padding: 20px;
}

.mainText {
    font-family: montserrat;
    padding: 40px 0px 10px 70px;
}

h1 {
    font-family: montserrat;
    padding: 10px 0px 10px 60px;
    font-size: 6em;
}

p {
    font-family: montserratThin;
    padding: 10px 0px 10px 60px;
}

#pikachu {
    height: 400px;
    width: 400px;
    position: absolute;
    margin: 100px 200px 100px 645px;
}

#thirdColor img {
    height: 30px;
    width: 30px;
    margin: 15px 0 0 480px;
}

#thirdColor div {
    height: 30px;
    width: 30px;
    font-size: 2em;
    margin: 5px 0 0 515px;
    color: #F9CC02;
}

#thirdColor .one {
    color: black;
    margin-top: 200px;
}

#secondColor .ball {
    height: 136px;
    width: 220px;
}